.SandwichMenu {
  // position: fixed;
  // top: 0; right: 0; left: 0; bottom: 0;
  position: absolute;
  bottom: 0;
  height: 0vh;
  width: 100vw;
  z-index: 99;
  opacity: 0;
  overflow: hidden;
  background-color: $purpleDarker;
  transition: opacity .15s;
  &.visible {
    transition: opacity .15s;
    height: 100vh;
    opacity: 1;
  }

  .sandwich-menu-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .sandwich-menu-header {
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 30px;
      margin-bottom: 15px;
      @media screen and (min-width: 414px) {
        height: 80px;
      }
    
      .header-logo-container {
        font-family: "Rabbid Highway Sign II";
        font-size: 1rem;
        letter-spacing: .05rem;
        color: white;
        @media screen and (min-width: 414px) {
          font-size: 1.5rem;
          letter-spacing: .075rem;
        }
      }

      .close-icon-container {
        .close-icon {
          height: 30px;
          width: 30px;
          @media screen and (min-width: 414px) {
            height: 40px;
            width: 40px;
          }
        }
      }

    }

    .sandwich-menu-links {
      width: 100%;
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      flex-direction: column;
      justify-content: space-between;
      border-top: 1px solid rgba(255, 255, 255, 0.25);

      .menu-link {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        padding: 0 30px;
        span {
          font-family: "Open Sans Bold";
          width: 100%;
          text-align: center;
          font-size: 1.5rem;
          line-height: 2.0rem;
          text-transform: uppercase;
          color: white;
        }
      }
    }

    .sandwich-menu-footer {
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    
      .copyright {
        font-size: .8rem;
        color: white;
        @media screen and (min-width: 414px) {
          font-size: .9rem;
          font-family: "Open Sans SemiBold"
        }
      }
    }

  }

}