.Contact {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 0; // Override due to contact buttons

  .content-text {
    text-align: center;
    @media screen and (min-width: 667px) {
      margin-bottom: 0    
    }
  }

  .contact-buttons-wrapper {
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    button:nth-child(odd) {
      margin-right: 30px;    
      @media screen and (min-width: 667px) {
        margin-right: 0;
      }

    }
    
    .contact-button {
      display: flex;
      width: 100px;
      height: 100px;
      background-color: white;
      border: 1px solid black;
      margin-bottom: 30px;
      @media screen and (min-width: 667px) {
        border: none
      }
      
      a {
        height: 100%;
        width: 100%;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .contact-button-icon-container {
          position: relative; /* For absolutely positioned icons */
          .contact-button-icon {
            width: 50px; /* Height should adjust automatically */
            &.hover {
              position: absolute; /* Take out of normal flow */
              left: 0;
              opacity: 0;
              transition: opacity .15s;
              &:hover {
                transition: opacity .15s;
                opacity: 1;
              }
            }
          }
        }
      }

    }

  }

}

