.About {
  display: flex;
  flex-direction: column;
  flex: 1;

  .content-text-wrapper {
    margin-bottom: 5px;
    @media screen and (min-width: 667px) {
      padding: 0 25%;
      margin-bottom: 30px;
    }

    .content-text {
      font-family: "Open Sans SemiBold";
      font-size: .8em;
      line-height: 1.7em;
      letter-spacing: .03em;
      text-align: left;
      margin-bottom: 30px;
      @media screen and (min-width: 667px) {
        text-align: center;
        font-size: 1.0rem;    
      }
      a {
        color: $brownPrimary;
        font-family: "Open Sans Bold";
        font-size: inherit;
      }
    }

  }

}

