.ENA_Calendar {
  display: flex;
  flex-direction: column;
  flex: 1;

  .sub-section-wrapper {
    background: linear-gradient(180deg, #faf7f4, #ffffff);
    padding: 40px 30px 0 30px;

    .sub-section-heading {
      font-family: "Open Sans Bold";
      font-size: .9rem;
      line-height: 1.4rem;
      color: $brownPrimary;
      margin-bottom: 20px;
    }

    .sub-section-text {
      font-family: "Open Sans Regular";
      font-size: .8em;
      line-height: 1.7em;
      letter-spacing: .03em;
      text-align: left;
      margin-bottom: 30px;
      .bold {
        font-family: "Open Sans Bold";
        font-size: inherit;
      }
      a {
        color: $brownPrimary;
        font-family: "Open Sans Bold";
        font-size: inherit;
      }
    }

    .calendar-button-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 0;

      .calendar-button-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;

        .calendar-button-text-container {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 15px;

          .calendar-button-image {
            display: inline-block;
            height: 15px;
            margin-right: 8px;
          }

          .calendar-button-text {
            font-family: "Open Sans Regular";
            font-size: .8em;
          }

        }

      }

    }

  }
}

