.Audio_Archives {
  display: flex;
  flex-direction: column;
  flex: 1;

  .audio-archives-wrapper {
    background: linear-gradient(180deg, #faf7f4, #ffffff);
    padding: 40px 2px 30px 2px;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 667px) {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 70px 100px 0 100px;   
    }
    div:nth-child(odd) {
      margin-right: 30px;
    }
  }
  
}

