.About {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 30px;

  .content-text-wrapper {
    margin-bottom: 5px;

    .content-text {
      font-family: "Open Sans SemiBold";
      font-size: .8em;
      line-height: 1.7em;
      letter-spacing: .03em;
      text-align: left;
      margin-bottom: 30px;
      .bold {
        font-family: "Open Sans Bold";
        font-size: inherit;
      }
      a {
        color: $brownPrimary;
        font-family: "Open Sans Bold";
        font-size: inherit;
      }
    }

  }

}

