.Home {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 0 20%;

  .splash-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    span {
      text-align: left;
      font-family: "Rabbid Highway Sign II";
      font-size: 1.4rem;
      margin-bottom: 15px;
    }
  }

  .splash-logo-container {
    width: 100%;
    .splash-logo {
      width: 100%;
    }
  }

}

