.Home {
  @include page-content-container;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Expand home screen to full size of viewport to center logo */
  // flex-grow: 1;
  // flex-shrink: 1;

  .splash-wrapper {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    @media screen and (min-width: 414px) {
      padding: 60px 0;
    }
    @media screen and (min-width: 1024px) {
      flex-direction: row-reverse;
    }

    .splash-text {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      @media screen and (min-width: 1024px) {
        margin-bottom: 130px;
      }
      span {
        text-align: left;
        font-family: "Rabbid Highway Sign II";
        font-size: 1.4rem;
        margin-bottom: 15px;
        @media screen and (min-width: 414px) {
          font-size: 2.0rem;
          margin-bottom: 30px;
        }
        @media screen and (min-width: 1024px) {
          font-size: 3.0rem;
        }
      }
    }

    .splash-logo-container {
      width: 170px;
      @media screen and (min-width: 414px) {
        width: 250px;
      }
      @media screen and (min-width: 1024px) {
        width: 380px;
        margin-top: 130px;
      }
      .splash-logo {
        width: 100%;
      }
    }

  }

}

