.Header {
  width: 100%;
  min-height: 60px; // min-height is necessary due to "squishing" of flex elements
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 30px;
  @media screen and (min-width: 667px) {
    min-height: 100px;
    padding: 0 100px;
  }

  .header-logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .header-logo-sloth-text, .header-logo-werks-text {
      font-family: "Rabbid Highway Sign II";
      font-size: 1rem;
      letter-spacing: .05em;
      @media screen and (min-width: 667px) {
        font-size: 2rem;
        letter-spacing: .1rem;
      }
    }
    .header-logo-werks-text {
      color: $brownPrimary
    }
  }

}