.Header {
  width: 100%;
  min-height: 60px; // min-height is necessary due to "squishing" of flex elements
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 30px;

  .header-logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .header-logo-sloth-text, .header-logo-werks-text {
      font-family: "Rabbid Highway Sign II";
      letter-spacing: .05em;
    }
    .header-logo-werks-text {
      color: $brownPrimary
    }
  }

}