.Footer {
  width: 100%;
  min-height: 60px; // min-height is necessary due to "squishing" of flex elements
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 1024px) {
    min-height: 80px;
  }
  @media screen and (min-width: 1024px) {
    min-height: 100px;
    justify-content: flex-start;
    padding: 0 100px;
  }

  .copyright {
    font-size: .8rem;
    @media screen and (min-width: 414px) {
      font-size: .9rem;
      font-family: "Open Sans SemiBold"
    }
  }
}