/* SlothWerks Brown */
$brownPrimary: #d46b29;
$brownLight: #da976c;
$brownDark: #a15120;
$brownDarker: #542a10;

/* Tech Purple */
$purplePrimary: #6702c8;
$purpleLight: #8b42d1;
$purpleDark: #4d0195;
$purpleDarker: #311747;

/* Blue */
$bluePrimary: #2a76d4;
$blueLight: #6c9edb;
$blueDark: #1f5aa0;
$blueDarker: #0f2f55;

/* Maize */
$maizePrimary: #d4c029;
$maizeLight: #dbcf6d;
$maizeDark: #a1921f;
$maizeDarker: #534d0f;