/* Import fonts */
@font-face {
  font-family: 'Rabbid Highway Sign II';
  src: url('../assets/fonts/RabbidHighwaySignII.otf') format('opentype');
}

@mixin open-sans-regular {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

@mixin open-sans-semibold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

@mixin open-sans-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

@mixin open-sans-italic {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
}

/* Import global stylesheets */
@import './colors.scss';
@import './variables.scss';
@import './breakpoints.scss';
@import './resets.scss';
@import './master.scss';

/* Import individual view styles */
@import '../views/home/home.scss';
@import '../views/about/about.scss';
@import '../views/contact/contact.scss';
@import '../views/community-calendar/community-calendar.scss';
@import '../views/tech-calendar/tech-calendar.scss';
@import '../views/audio-archives/audio-archives.scss';

/* Import component styles */
@import '../components/structural/header/header.scss';
@import '../components/structural/footer/footer.scss';
@import '../components/nav/header-nav/header-nav.scss';
@import '../components/nav/sandwich-menu/sandwich-menu.scss';
@import '../views/audio-archives/components/audio-archives.card.scss';
