/* Master structural styles */

/* Force viewport to take up full height and width of viewport */
/* This tactic absolutely breaks the website in certain browsers */

// html {
//   width: 100vw;
//   height: 100vh;
// }

// body {
//   width: 100%;
//   height: 100%;
// }

#root {
  @include open-sans-regular;
  width: 100%;
  // height: 100%;
  display: flex;
  flex-direction: column;
}

@mixin page-content-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  @media screen and (min-width: 1024px) {
    padding-bottom: 60px;
  }
  // flex-grow: 1;
  // flex-shrink: 1;
}

.bold {
  @include open-sans-semibold;
  font-size: inherit;
}

.italic {
  @include open-sans-italic;
  font-size: inherit;
}

.center {
  text-align: "center"
}

.hidden {
  display: none;
}

/* Headings */

h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 30px;
  @media screen and (min-width: 414px) {
    margin-bottom: 45px;
    padding: 0 60px;
  }
  @media screen and (min-width: 1024px) {
    margin-bottom: 60px;
    padding: 0 90px;
  }

  .heading-text {
    text-align: center;
    font-family: "Rabbid Highway Sign II";
    font-size: .95rem;
    font-weight: 400;
    letter-spacing: .04rem;
    line-height: 1.5rem;
    margin: 0 0 15px 0;
    @media screen and (min-width: 414px) {
      font-size: 1.4rem;
      margin: 0 0 20px 0;
      line-height: 2.0rem;
    }
    @media screen and (min-width: 1024px) {
      font-size: 2.0rem;
      margin: 0 0 30px 0;
      line-height: 3.0rem;
    }
  }

  .heading-divider {
    width: 50px;
    border-bottom: 2px solid $brownLight;
    @media screen and (min-width: 414px) {
      width: 60px;
    }
    @media screen and (min-width: 1024px) {
      width: 75px;
    }
  }
}

h2.page-heading {
  padding-top: 30px;
  @media screen and (min-width: 414px) {
    padding-top: 45px;
  }
  @media screen and (min-width: 1024px) {
    padding-top: 60px;
  }
}

h3 {
  @include open-sans-semibold;
  font-size: .9rem;
  line-height: 1.4rem;
  color: $brownPrimary;
  margin-bottom: 20px;
  @media screen and (min-width: 414px) {
    font-size: 1.0rem;
  }
  @media screen and (min-width: 1024px) {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}

/* Page text content */

.content-text-wrapper {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 0 30px;
  max-width: 700px;
  @media screen and (min-width: 414px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1024px) {
    margin-bottom: 30px;
  }

  .content-text {
    @include open-sans-semibold;
    font-size: .8rem;
    line-height: 1.7rem;
    letter-spacing: .03rem;
    text-align: left;
    margin-bottom: 30px;
    @media screen and (min-width: 414px) {
      font-size: .9rem;    
    }
    @media screen and (min-width: 1024px) {
      text-align: center;
      font-size: 1.0rem;    
    }
    a {
      @include open-sans-semibold;
      color: $brownPrimary;
      font-size: inherit;
    }
  }

}

/* Sub-section styles */

.sub-section-wrapper {
  background: linear-gradient(180deg, #faf7f4, #ffffff);
  padding: 40px 30px 0 30px;
  @media screen and (min-width: 414px) {
    padding-top: 50px;  
  }
  @media screen and (min-width: 1024px) {
    padding: 60px 100px 0 100px;   
  }

  .sub-section-text {
    @include open-sans-regular;
    font-size: .8rem;
    line-height: 1.7rem;
    letter-spacing: .03rem;
    text-align: left;
    margin-bottom: 30px;
    @media screen and (min-width: 414px) {
      font-size: .85rem;    
    }
    @media screen and (min-width: 1024px) {
      width: 50%;
      font-size: .9rem;    
    }
    a {
      @include open-sans-semibold;
      color: $brownPrimary;
      font-size: inherit;
    }
  }

}

/* Action buttons */

.action-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  margin-bottom: 30px;
  @media screen and (min-width: 414px) {
    padding: 15px 0;
  }
  @media screen and (min-width: 1024px) {
    padding: 20px 0;
  }
}

.action-button {
  height: 40px;
  width: 175px;
  background-color: $purpleLight;
  border-radius: 3px;
  border: none;

  a {
    @include open-sans-semibold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
    font-size: .8rem;
    letter-spacing: .05rem;
    @media screen and (min-width: 414px) {
      letter-spacing: .04rem;
      font-size: .85rem;
    }
    @media screen and (min-width: 1024px) {
      letter-spacing: .03rem;
      font-size: .9rem;
    }
    
  }
}

/* Calendar styles */

.calendar-button-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  @media screen and (min-width: 667px) {
    display: none;
  }

  .calendar-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

    .calendar-button-text-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;

      .calendar-button-icon {
        margin-right: 8px;
        @media screen and (min-width: 414px) {
          margin-right: 10px;
        }
      }

      .calendar-button-text {
        @include open-sans-regular;
        font-size: .8rem;
        @media screen and (min-width: 414px) {
          font-size: .85rem;
        }
      }

    }

  }

}

.calendar-wrapper { /* Do not display on mobile */
  display: none;
  @media screen and (min-width: 667px) {
    display: block;
    padding-top: 30px;
    margin-bottom: 30px;
  }

  .calendar { /* Controls width of iframe */
    width: 100%; 
    // max-width: 1200px;
    // margin: 0 auto;
    position: relative; /* Needed for controls */

    .calendar-controls {
      position: absolute; /* With respect to the calendar container */
      top: 0;
      right: 0;
      padding-right: 3px;
      a {
        font-size: .8rem;
        font-weight: bold;
        margin-left: 15px;
        color: black;
        .calendar-controls-icon {
          margin-right: 5px;
        }
      }
    }

  }

}


