/* Master structural styles */

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

#root {
  font-family: 'Open Sans Regular', Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Page headings */

.page-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 30px;

  .page-heading-text {
    text-align: center;
    font-family: "Rabbid Highway Sign II";
    font-size: .95rem;
    font-weight: 400;
    letter-spacing: .04rem;
    line-height: 1.5rem;
    margin: 15px 0;
  }

  .page-heading-divider {
    width: 50px;
    border-bottom: 2px solid $brownLight;
  }

}

/* Page text content */

.content-text-wrapper {
  margin-bottom: 5px;
  padding: 0 30px;

  .content-text {
    font-family: "Open Sans SemiBold";
    font-size: .8em;
    line-height: 1.7em;
    letter-spacing: .03em;
    text-align: left;
    margin-bottom: 30px;
    .bold {
      font-family: "Open Sans Bold";
      font-size: inherit;
    }
    .italic {
      font-style: italic;
      font-size: inherit;
    }
    a {
      color: $brownPrimary;
      font-family: "Open Sans Bold";
      font-size: inherit;
    }
  }

}

/* Sub-section styles */

.sub-section-wrapper {
  background: linear-gradient(180deg, #faf7f4, #ffffff);
  padding: 40px 30px 0 30px;

  .sub-section-heading {
    font-family: "Open Sans Bold";
    font-size: .9rem;
    line-height: 1.4rem;
    color: $brownPrimary;
    margin-bottom: 20px;
  }

  .sub-section-text {
    font-family: "Open Sans Regular";
    font-size: .8em;
    line-height: 1.7em;
    letter-spacing: .03em;
    text-align: left;
    margin-bottom: 30px;
    .bold {
      font-family: "Open Sans Bold";
      font-size: inherit;
    }
    a {
      color: $brownPrimary;
      font-family: "Open Sans Bold";
      font-size: inherit;
    }
  }

}

/* Action buttons */

.action-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-button {
  height: 40px;
  width: 175px;
  background-color: $purpleLight;
  border-radius: 3px;
  border: none;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
    font-family: "Open Sans SemiBold";
    font-size: .8rem;
    letter-spacing: .05rem;
  }
}

